Binaries
DerivedDataCache
Intermediate
Saved
Content/FirstPersonCPP
Content/StarterContent
Content/Mannequin
Content/Python
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pyc
*.pyc
Content/Python/__pycache__/Maze2.cpython-37.pyc
Content/Levels/MainLevel/MainLevel.umap
.vsconfig
